<nav class="navbar-client" *ngIf="user$ | async as user">
  <!-- Section gauche -->
  <div class="navbar-left">
    
  </div>

  <!-- Section droite -->
  <div class="navbar-right">
   
    
    <button class="icon-btn notification-btn" title="Notifications">
      <fa-icon [icon]="faBell"></fa-icon>
      <span class="notification-badge">5</span>
    </button>

    <div class="user-menu" (click)="toggleDropdown($event)">
      <img [src]="user.photoProfilUrl || 'https://placehold.co/48x48'" alt="Photo de profil" class="user-avatar">
      <div class="user-menu-info">
        <span class="user-name">{{ user.prenom }} {{ user.nom }}</span>
        <span class="user-role">{{ user.typeUtilisateur | lowercase }}</span>
      </div>
      <fa-icon [icon]="faChevronDown" class="dropdown-icon" [class.rotated]="isDropdownOpen"></fa-icon>

      <div class="dropdown-menu" [class.show]="isDropdownOpen">
        <a routerLink="/client/profile">
          <fa-icon [icon]="faUser" class="menu-icon"></fa-icon>
          Mon Profil
        </a>
        <a routerLink="/client/settings">
          <fa-icon [icon]="faCog" class="menu-icon"></fa-icon>
          Paramètres
        </a>
        <a (click)="logout()">
          <fa-icon [icon]="faSignOutAlt" class="menu-icon"></fa-icon>
          Déconnexion
        </a>
      </div>
    </div>
  </div>
</nav>
